/*-- scss:defaults --*/
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap");

// fonts
$presentation-heading-font: "Yanone Kaffeesatz";

// colors
$black: #000000;
$white: #fff;
$orange: #f05522;
$blue: #17b7d6;
$blue-light: #17b7d626;
$grey-light: #f3f3f388;

$body-bg: $white !default;
$body-color: $black !default;

$link-color: $orange !default;

$code-bg: $blue;
$code-block-bg: $grey-light;
$code-block-border-color: #444444;
$light-bg-code-color: red;

// Sizes
$presentation-font-size-root: 25px;
$presentation-h1-font-size: 3.5em;
$presentation-h2-font-size: 1.75em;
$presentation-h3-font-size: 1.25em;

/*-- scss:rules --*/

#title-slide {
  .title {
    color: $orange;
    text-transform: uppercase !important;
    font-weight: 600;
    font-family: "Yanone Kaffeesatz";
  }

  .quarto-title-author {
    color: $black;
  }

  .subtitle {
    color: $black;
    font-weight: 600;
    font-family: "Yanone Kaffeesatz";
    font-size: $presentation-h2-font-size;
    code {
      font-size: 40px;
    }
  }
}

.reveal p.subtitle {
  color: $black;
  font-weight: 600;
  font-family: "Yanone Kaffeesatz";
  font-size: $presentation-h2-font-size;
}

.reveal h1 {
  color: $orange !important;
  font-family: "Yanone Kaffeesatz", sans-serif !important;
  font-weight: 600 !important;
}

.reveal h2 {
  color: $orange !important;
  font-family: "Yanone Kaffeesatz", sans-serif !important;
  font-weight: 600 !important;
}

.reveal h3 {
  font-family: "Yanone Kaffeesatz", sans-serif !important;
  font-weight: 600 !important;
}

.reveal p {
  font-size: $presentation-font-size-root;
}

.center-items {
  text-align: center;
}

.right-items {
  text-align: right;
}

.grey-items {
  color: grey;

  p {
    color: grey;

    code {
      color: grey;
    }
  }
}

.middle-items {
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: space-around;
  align-content: center;
}

.footer {
  strong {
    color: $blue;
  }

  p {
    font-size: 14px;
  }
}
// code

.reveal code {
  padding: 2px 4px;
  border-radius: 5px;
  color: $black;
  background-color: #f3f3f388;
}

.reveal h2 code {
  font-size: calc($presentation-h2-font-size - 1em);
}

.reveal h3 code {
  font-size: calc($presentation-h3-font-size - 0.5em);
}

.reveal p code {
  font-size: calc($presentation-font-size-root - 4px);
}

.reveal pre code {
  background-color: $grey-light;
  padding: 6px 9px;
  line-height: 1.5em;
  font-size: calc($presentation-font-size-root - 8px);
  margin-bottom: 10px;
  max-height: 600px;
}

.reveal pre.sourceCode code {
  max-height: 600px;
}

.reveal pre.smallcode code {
  font-size: calc($presentation-font-size-root - 12px);
}

.reveal div.sourceCode {
  border: 1px solid #c8c8c8;
  margin-bottom: 10px !important;
}

.sourceCode {
  margin-bottom: 0 !important;
}

code span.fu {
  color: lighten($orange, 15%);
}

.reveal
  div.sourceCode
  pre
  code.has-line-highlights
  > span:not(.highlight-line) {
  opacity: 0.25 !important;
}

// Componants

// call-out
.callout-caption {
  align-items: inherit;
}

.reveal .callout.callout-captioned .callout-icon::before {
  margin-top: 0.5rem;
}

.reveal .callout.callout-style-default .callout-icon::before {
  height: 1rem;
  width: 1rem;
  background-size: 1rem 1rem;
}

// blockquote

.reveal blockquote {
  padding: 0.25rem 1.95rem;
}

.reveal blockquote p {
  font-style: italic;
  font-size: $presentation-font-size-root;
}

// dashed-box

@mixin dashed-box($color: $orange) {
  border: dashed $color;
  text-align: center;
}

.dashed-box-orange {
  @include dashed-box;
}

.dashed-box-orange-flex {
  @include dashed-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashed-box-blue {
  @include dashed-box($color: $blue);
}

// image

.reveal img.centered {
  display: block;
  margin: auto;
}

.center-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  font-size: 40px;

  p {
    font-size: 40px;

    code {
      font-size: 40px;
    }
  }
}
